<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{../css/bootstrap.css}">

    <title>Error</title>
</head>
<body class="bg-secondary">
<section>
    <div class="container-sm">
        <div class="d-flex mb-1">
            <div class="container py-3">
                <h1 th:text="#{error.title}"></h1>
            </div>
        </div>
            <div th:if="${code != null}">
                <h6>Status: <span th:text="${code}"></span></h6>
                <h6>Message: <span th:text="${message}"></span></h6>
                <h6>Path: <span th:text="${path}"></span></h6>
            </div>
            <div>
                <a th:href="@{/catalog}"
                   class="btn btn-primary btn-sm"
                   th:text="#{btn.home}">
                    Home
                </a>
            </div>
        </div>
    </div>
</section>

<!--Bootstrap JS-->
<script src="../js/bootstrap.bundle.js"></script>
</body>
</html>